.aboutUs-section{
    padding-bottom: 84px;
    @media screen and (min-width:575px){
        padding-bottom: 131px;
    }
    @media screen and (min-width:767px){
        padding-bottom: 88px;
    }
    @media screen and (min-width: 992px){
        padding-bottom: 101px;
    }
    &>.container{
        position: relative;
    }
    &__title{
        @include text-style('Poppins',600,24px,3.3,$title-color,center);
        @media screen and (min-width:575px){
            @include text-style('Poppins',600,30px,2.7,$title-color,center);
        }
        @media screen and (min-width:767px){
            text-align: left;
        }
        @media screen and (min-width: 992px){
            @include text-style('Poppins',600,36px,2.2,$title-color,left);
        }
    }
    &__img{
        display: block;
        margin: 24px auto 0;
        width: 283px;
        height: 283px;
        @media screen and (min-width:575px){
            margin-top: 23px;
            width: 352px;
            height: 352px;
        }
        @media screen and (min-width:767px){
            width: 295px;
            height: 295px;
            position: absolute;
            right: 0;
            margin-top: 0;
            top: 50px; 
        }
        @media screen and (min-width: 992px){
            width: 336px;
            height: 336px;
            top: 40px;
        }
    }
    &__descr{
        margin-top: 24px;
        @include text-style('Poppins',400,13px,1.5,$text-color,center);
        @media screen and (min-width:575px){
            margin-top: 25px;
            font-size: 14px;
        }
        @media screen and (min-width:767px){
            text-align: left;
            width: 321px;
            margin-top: 0;
            font-size: 14px;
        }
        @media screen and (min-width: 992px){
            width: 540px;
            font-size: 16px;
        }
    }
    &__list{
        @include flex(center,center);
        flex-direction: column;
        gap:40px;
        margin-top: 30px;
        @media screen and (min-width:575px){
            gap: 0;
            margin-top: 40px;
            flex-direction: row;
            justify-content: space-between;
        }
        @media screen and (min-width:767px){
            width: 321px;
        }
        @media screen and (min-width: 992px){
            width: 400px;
        }
    }
    &__item{
        @media screen and (min-width:575px){
            width: 131px;
        }
        @media screen and (min-width:767px){
            width: auto;
        }
    }
    &__num{
        @include text-style('Poppins',600,24px,1.5,$about-color,center);
        @media screen and (min-width:767px){
            font-size: 22px;
        }
        @media screen and (min-width: 992px){
            font-size: 30px;
        }
    }
    &__text{
        @include text-style('Poppins',400,15px,1.5,$text-color,center);
        @media screen and (min-width:575px){
            font-size: 14px;
        }
        @media screen and (min-width:767px){
            font-size: 13px;
        }
        @media screen and (min-width: 992px){
            font-size: 16px;
        }
    }
}