.contacts-section{
    padding-bottom: 57px;
    @media screen and (min-width:575px){
        padding-bottom: 144px;
    }
    @media screen and (min-width:767px){
        padding-bottom: 112px;
    }
    &>.container{
        position: relative;
    }
    &__title{
        @include text-style('Poppins',600,24px,1.5,$title-color,center);
        @media screen and (min-width:575px){
            @include text-style('Poppins',600,30px,2.7,$title-color,center);
        }
        @media screen and (min-width:767px){
            width: 434px;
            margin-left: auto;
            text-align: left;
        }
    }
    &__img{
        width: 253px;
        height: 228px;
        margin: 38px auto 0;
        display: block;
        @media screen and (min-width:575px){
            width: 358px;
            height: 322px;
            margin-top: 83px;
        }
        @media screen and (min-width:767px){
            position: absolute;
            left: 0;
            top: 30px;
            margin-top: 0;
            width: 233px;
            height: 210px;
        }
    }
    &__text{
        margin-top: 38px;
        @include text-style('Poppins',400,14px,1.5,$text-color,center);
        @media screen and (min-width:575px){
            margin-top: 34px;
            font-size: 16px;
        }
        @media screen and (min-width:767px){
            width: 434px;
            margin-left: auto;
            text-align: left;
            margin-top: 0;
        }
    }
    &__form{
        @media screen and (min-width:575px){
            @include flex(center,center);
            margin-top: 60px;
            position: relative;
        }
        @media screen and (min-width:767px){
            width: 434px;
            justify-content: space-between;
            margin-left: auto;
            margin-top: 26px;
            position: static;
        }
    }
    &__input{
        margin-top: 31px;
        width: 291px;
        height: 50px;
        border: 1px solid $text-color;
        border-radius: 5px;
        padding: 16px 26px;
        @include text-style('Poppins',400,12px,1.5,$text-color);
        @media screen and (min-width:575px){
            width: 511px;
            height: 60px;
            margin-top: 0;
            font-size: 13px;
        }
        @media screen and (min-width:767px){
            width: 283px;
            height: 50px;
        }
    }
    &__but{
        margin-top: 17px;
        width: 290px;
        height: 60px;
        background: $bg-but-color;
        border: 0;
        border-radius: 5px;
        @include text-style('Poppins',500,14px,1.5,$but-color,center);
        @media screen and (min-width:575px){
            margin-top: 0;
            font-size: 16px;
            width: 193px;
            position: absolute;
            right: 0;
        }
        @media screen and (min-width:767px){
            width: 145px;
            height: 50px;
            position: static;
        }
    }
}