.contacts-section{
    padding-bottom: 57px;
    &__title{
        @include text-style('Poppins',600,24px,1.5,$title-color,center);
    }
    &__img{
        width: 253px;
        height: 228px;
        margin-top: 38px;
    }
    &__text{
        margin-top: 38px;
        @include text-style('Poppins',400,14px,1.5,$text-color,center);
    }
    &__input{
        margin-top: 31px;
        width: 291px;
        height: 50px;
        border: 1px solid $text-color;
        border-radius: 5px;
        padding: 16px 26px;
        @include text-style('Poppins',400,12px,1.5,$text-color);
    }
    &__but{
        margin-top: 17px;
        width: 290px;
        height: 60px;
        background: $bg-but-color;
        border: 0;
        border-radius: 5px;
        @include text-style('Poppins',500,14px,1.5,$but-color,center);
    }
}