.hero-section{
    &__img{
        width: 299px;
        height: 299px;
        margin: 0 auto;
        display: block;
        @media screen and (min-width:575px){
            width: 424px;
            height: 424px;
        }
    }
    &__title{
        margin-top: 16px;
        @include text-style('Poppins',600,24px,1.5,$title-color,center);
        @media screen and (min-width:575px){
            @include text-style('Poppins',600,34px,1.3,$title-color,center);
        }
    }
    &__text{
        margin-top: 20px;
        @include text-style('Poppins',400,12px,1.75,$text-color,center);
        @media screen and (min-width:575px){
            @include text-style('Poppins',400,16px,1.5,$text-color,center);
        }
    }
    &__but{
        margin: 35px auto 0;
        display: block;
        @include text-style('Poppins',500,16px,1.5,$but-color,center);
        border: 0;
        width: 290px;
        height: 60px;
        background: $bg-but-color;
        border-radius: 5px;
        @media screen and (min-width:575px){
            width: 375px;
            height: 75px;
            @include text-style('Poppins',500,18px,1.5,$but-color,center);
        }
    }
}