.container{
    width: 290px;
    margin: 0 auto;
    @media screen and (min-width:575px){
        width: 511px;   
    }
    @media screen and (min-width:767px){
        width: 690px;   
    }
    @media screen and (min-width: 992px){
        width: 930px;
    }
}