.header-section{
    padding: 36px 15px 29px;
    @include flex(space-between, center);
    &__img{
        display: block;
        width: 33.53px;
        height: 19px;
        @media screen and (min-width:575px){
            width: 42px;
            height: 24px;
        }
        @media screen and (min-width:767px){
            width: 30px;
            height: 17px;
        }
    }
}