$title-color: #000;
$text-color: #8F95A5;
$subtitle-color: #263238;
$pricing-but-color: #EEEEEE;
$date-color: #546269;
$but-color: #fff;
$border-color: #C4C4C4;
$about-color: #2A3246;
$but-color: #fff;
$logo-color: #939393;
$bg-card-color: #F5F5F5;
$bg-but-color: #263238;
$bg-svg-color: #fff;